*~
*.orig
*#
*.info
doc/ess.*
doc/info/ess.info
doc/readme.*
doc/refcard/refcard.*
*history
*NEWS
*VERSION
*REVISION
*BACKUP*
*REMOTE*
*LOCAL*
*BASE*
lisp/*.elc
doc/html/*
README
ANNOUNCE
MM-MISC
Mail-head
RPM*.spec
*SVN*
ess-[1-9]*.[0-9][0-9]
ess-[1-9]*.[0-9][0-9][-.]???
