*~
*.orig
*#
*.info
doc/ess.*
doc/info/ess.info
doc/readme.*
doc/refcard/refcard.*
*history
*VERSION
*REVISION
*BACKUP*
*REMOTE*
*LOCAL*
*BASE*
*.elc
doc/html/*.html
README
ANNOUNCE
MM-MISC
Mail-head
RPM*.spec
*SVN*
ess-[1-9]*.[0-9][0-9]
ess-[1-9]*.[0-9][0-9][-.]???
ess-[1-9]*.[0-9][0-9]-[0-9]
ess-[1-9]*.[0-9][0-9]-[0-9][-.]???
lisp/julia*
lisp/ess-autoloads.el
tmp*
.DS_Store
._.DS_Store
.dependencies
