Alex Branham <alex.branham@gmail.com> <branham@utexas.edu>
David Shepherd <davidshepherd7@gmail.com> <davidshepherd7@users.noreply.github.com>
David Whiting <david.r.whiting@gmail.com> <david.whiting@ncl.ac.uk>
Ernest Adrogué <nr9@posteo.de> nfdisco <eac@opmbx.org>
Ernest Adrogué <nr9@posteo.de> nfdisco <nfdisco@gmail.com>
Henning Redestig <hredestig@protonmail.com> <henning.red@gmail.com>
Henning Redestig <hredestig@protonmail.com> <henning.red@googlemail.com>
Mark Lunt <Mark.Lunt@manchester.ac.uk> <mark.lunt@mrc-bsu.cam.ac.uk>
Martin Maechler <maechler@stat.math.ethz.ch> <maechler@r-project.org>
Martin Maechler <maechler@stat.math.ethz.ch> <maechler@stat.math.ethz.ch>
Martin Maechler <maechler@stat.math.ethz.ch> sfs <sfs@0bbaf3bd-34e0-0310-bf65-c717079852d4>
Rodney Sparapani <rsparapa@mcw.edu>
Shuguang Sun <shuguang@gmail.com> <shugaung.sun@roche.com>
Shuguang Sun <shuguang@gmail.com> ShuguangSun <shuguang@gmail.com>
Stefan Theussl <stefan.theussl@r-project.org> theussl <theussl@0bbaf3bd-34e0-0310-bf65-c717079852d4>
Stephen Eglen <sje30@cam.ac.uk> Stephen J. Eglen <sje30@cam.ac.uk>
Wilfred Hughes <me@wilfred.me.uk> <wilfred@localhost.localdomain>
Yi Liu <yi.liu6240@gmail.com> Yi Liu <YiLiu6240@users.noreply.github.com>
Yi Liu <yi.liu6240@gmail.com> YiLiu6240 <yi.liu6240@gmail.com>
dickmao <dick.r.chiang@gmail.com> <7578770+dickmao@users.noreply.github.com>
