#!/usr/bin/make -f

%:
	dh $@ --with elpa

override_dh_auto_build:
	@echo do not run make

override_dh_auto_install:
	@echo do not run make install

override_dh_installdocs:
	@echo do no install docs

override_dh_elpa_test:
	@echo do no install docs
##	make test

